/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2018, 00:23:59
    Author     : Gleidson Neves da Silveira
*/


/* 
    Created on : 02/04/2017, 14:26:00
    Author     : Gleidson Neves da Silveira
*/


#GNWindow {
    -gray : #00000020;
    -red : #e04343;
    -fx-background-color : white;
    -fx-border-color : #808080;
}

#body {

}

#body #container {
    -fx-background-color : transparent;
}

#body #container .viewport{
    -fx-background-color : transparent;
}

#bar {
    -fx-background-color : transparent;
}

#bar #buttons {
    -fx-background-color : transparent;
}

#bar #buttons .button {
    -fx-background-radius : 0px;
    -fx-background-color : transparent;
}

#bar #buttons #minimize:hover, 
#bar #buttons #maximize:hover, 
#bar #buttons #restore:hover,
#bar #buttons #full-screen:hover

{
    -fx-background-color : -gray;
}

#bar #buttons #close:hover {
    -fx-background-color : -red;
}

#bar #buttons #close:hover .image-view{
    -gn-fill : white;
}

#bar #buttons #maximize .image-view {
    -fx-image : url('../img/maximize.png');
}

#bar #buttons #restore .image-view {
    -fx-image : url('../img/restore.png');
}

#teste {
    -fx-background-image : url('../img/login.jpg') ;
    -fx-background-size : cover;
}
