./gitignore
.idea/**
.gradle/**
/out/**
scenicView.properties
GNDecorator.iml
/README - Copia.md
/src/META-INF/
/secring.gpg
/gradle.properties

/vendor/
/.gradle/
publishInfo.gradle

gradle.properties


