./gitignore
.idea/**
/out/**
scenicView.properties
GNDecorator.iml
/README - Copia.md
/src/META-INF/
/secring.gpg
/gradle.properties

/vendor/
/.gradle/
publishInfo.gradle


/build/classes/
/build/distributions/
/build/generated/
/build/publications/
/build/reports/
/build/resources/
/build/scripts/
/build/test-results/
/build/tmp/

