
/*
    Created on : 03/04/2017, 16:30:52
    Author     : Gleidson Neves da Silveira
*/

.root {
    -fx-background-color: white;
    -secondary : #AA66CC;
}

.bar, .content {
    -fx-background-color: #AA66CC;
}

.bar .label {
    -fx-text-fill: white;
}