/* 
    Created on : 15/04/2018, 20:43:40
    Author     : Gleidson Neves da Silveira
*/

.button, .button:focused{
    -fx-background-color : transparent;
}

.button .image-view {
    -gn-fill : #808080;
    -fx-effect : innershadow( gaussian , -gn-fill , 10,1,21,21 );
}