

#gn-background {
    -fx-background-color : -background-color;
    -fx-border-color : #00000060;
    -fx-border-width : 1px;

   -background-color : white;
   -text-fill : black;
   -icon-fill : black;

}

#gn-background:maximized {
    -fx-border-width : 0px;
}

#gn-container {
    -fx-background-color : transparent;
}

#gn-background  #gn-bar
{
    -fx-background-color : transparent;
}

#gn-bar .titleContainer {
    -fx-background-color : transparent;
}

#gn-bar .titleContainer Label {
    -fx-text-fill : -text-fill;
}

#gn-bar .menu-button {
    -fx-pref-height : 40px;
}

#gn-bar .menuBar
{
    -fx-background-color : transparent;
}

#gn-bar .controlsContainer > #gn-close,
#gn-bar .controlsContainer > #gn-maximize,
#gn-bar .controlsContainer > #gn-minimize
{
    -fx-background-color : transparent;
    -fx-background-radius : 0px;
    -fx-padding : 0px;
}

#gn-bar > .controlsContainer .button * {
    -fx-effect : innershadow( gaussian , -icon-fill , 10,1,21,21 );
}

#gn-bar > .controlsContainer > #gn-close {
    -fx-graphic : url("../img/close.png");
}

#gn-bar > .controlsContainer > #gn-close:pressed .image-view,
#gn-bar > .controlsContainer > #gn-close:hover .image-view
{
    -icon-fill : white;
}

#gn-bar > .controlsContainer > #gn-close:hover
{
   -fx-background-color : #e04343;
}

#gn-bar > .controlsContainer > #gn-close:pressed {
    -fx-background-color : derive(#e04343, -30%);
}

#gn-bar > .controlsContainer > #gn-maximize {
    -fx-graphic : url("../img/maximize.png");
}

#gn-bar > .controlsContainer > #gn-maximize:restore {
    -fx-graphic : url("../img/restore.png");
}

#gn-bar > .controlsContainer > #gn-minimize:hover,
#gn-bar > .controlsContainer > #gn-maximize:hover
{
   -fx-background-color : #00000020;
}

#gn-bar > .controlsContainer > #gn-maximize:pressed,
#gn-bar > .controlsContainer > #gn-minimize:pressed
{
   -fx-background-color : #00000030;
}

#gn-bar > .controlsContainer > #gn-minimize {
    -fx-graphic : url("../img/minimize.png");
}

/*****************************************

    ScrollPane

******************************************/

#gn-scroll, #gn-scroll .viewport
{
    -fx-background-color: transparent, transparent;
    -fx-focus-color : transparent;
    -fx-focus-faint-color : transparent;
}