/*
    Created on : 03/04/2017, 16:30:52
    Author     : Gleidson Neves da Silveira
*/

.gn-decorator {
    -grey : #00000020;
    -warning : #FF8800;
    -fx-background-color : -warning;
    -fx-border-color: white;
}

.gn-buttons * {
    -fx-background-radius :0;
}

.gn-buttons * *, .gn-title, .gn-menu * {
    -gn-fill : white;
    -fx-text-fill : white;
    -fx-fill : white;
}

.gn-buttons *:hover
{
    -fx-background-color : -grey;
}



/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}


.scroll-pane .scroll-bar:horizontal > .thumb, .scroll-pane .scroll-bar:vertical > .thumb {
    -fx-background-color: rgba(0,0,0,.5);
    /*-fx-border-color: rgba(0, 0, 0, .5);*/
    -fx-background-insets: 2;
    -fx-background-radius: 20;
    -fx-padding : 0;
}

.scroll-pane .scroll-bar:horizontal  > .track, .scroll-pane .scroll-bar:vertical > .track{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:horizontal .track-background, .scroll-pane .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-color : transparent;
}

.scroll-bar > .thumb:hover {
    -opacity : 0.5;
}

.scroll-bar > .thumb:pressed {
    -opacity : 0.5;
}


.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0em; /* 3 */
    -fx-opacity : 0;
}

.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-background-color: #dadada;
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar:pressed > .increment-button,
.scroll-bar:pressed > .decrement-button {
    -fx-background-color: #dadada;
    -fx-padding: 0.25em; /* 3 */
}


.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {

}

.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
    -fx-effect: null;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: null;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: null;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: null;
}